.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

}
.subgrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

#hero1 {
  height: 720px
}
#hero2 {
  height: 921px
}

.columnBarsContainer {
  position: absolute;
  top:511px;
  width:1140px;
  left: 10%;
  right: 10%;

}
.columnBars {
  position: absolute;
  top:511px;
  width:1140px;
  left: 0;
  right: 0;
  margin: auto;

}

.columnGrid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 48px;
}
.col {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  width: 100px;

}

.col > div {
  background-color: currentColor;
  position: "relative";
  display: "block";
  width: "100%";
  height: 5px;
  margin: 0 0;
  opacity: 0
}
.col-1 {
 height: 431px;
 color: #EEDD23;

}
.col-2 {
  height: 462px;
  color: #F33437;
  
 }
 .col-3 {
  height: 328px;
  color: #F33437;
  
 }
 .col-4 {
  height: 465px;
  color: #086EA0;
  
 }
 .col-5 {
  height: 556px;
  
 }
 .col-6 {
  height: 891px;
  color: #EEDD23;
  
 }
 .col-7 {
  height: 1200px;
  
 }
 .col-8 {
  height: 816px;
  color: #086EA0;
  
 }
 .bar {
   background-color: currentColor;
 }


.box {
  min-height: 200px;
}




.box-short {
  min-height: 2rem;
}
section {
  width:1140px;
  margin: auto;
  padding: 150px 0;
}

.box-headline {
  grid-column: span 7;
}

.label {
  margin: 0;
  display: flex;
}
.label:after{
  content: " ";
  background-color: #000000;
  height: 1px;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: auto;
  margin: .7em 0 0 1em;
  flex-grow: 1;
}


.span-2 {
  grid-column: span 2;
}

.span-3 {
  grid-column: span 3;
}

.span-4 {
  grid-column: span 4;
}

.span-5 {
  grid-column: span 5;
}

.span-6 {
  grid-column: span 6;
}

.span-7 {
  grid-column: span 7;
}

.span-8 {
  grid-column: span 8;
}


.span-v-3 {
  grid-row: span3;
}

.line-container {
  border-bottom: solid 5px #F33437;
  border-left: solid 5px #F33437;
  border-right: solid 5px #F33437;
}

.vert-lines {
  content: " ";
  background-color: #000000;
  height: 1px;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 1px;
  margin: auto;
 height: 100%

}