<!--Hero-->

<section id="hero1" class="grid relative">
  <div class="span-6">
			<h1 class="my-4 text-5xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
			<a href="#" class="leading-normal text-2xl mb-8">Contact Us Today</a>
    </div>
    <div class="span-6"></div> 
</section>

  <div class="columnBars">
      <div class="columnGrid">
        <div class="col-1">
        <div class="bar"></div>
        </div>
        <div class="col col-2" id="col-2">
          <!-- <div class="bar col-2-bar"></div> -->
        </div>
        <div class="col-3">
            <div class="bar"></div>
        </div>
        <div class="col-4">
            <div class="bar"></div>
        </div>
        <div class="col-5">
            <div class="bar"></div>
        </div>
        <div class="col-6">
            <div class="bar"></div>
        </div>
        <div class="col-7">
            <div class="bar"></div>
        </div>
        <div class="col-8">
            <div class="bar"></div>
        </div>
      </div>
  </div>

<div class="bg-gray-very-light">
  <section id="hero2"class="grid">
    <div class="span-6">
      <div class="w-1/2 p-2">
        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <a href="#" class="leading-normal text-2xl mb-8">Contact Us Today</a>
      </div>
    </div>
  </section>
</div>















<script>

	var scrollpos = window.scrollY;
	var header = document.getElementById("header");
	var navcontent = document.getElementById("nav-content");
	var navaction = document.getElementById("navAction");
	var brandname = document.getElementById("brandname");
	var toToggle = document.querySelectorAll(".toggleColour");

	document.addEventListener('scroll', function() {

	/*Apply classes for slide in bar*/
	scrollpos = window.scrollY;

    if(scrollpos > 10){
      header.classList.add("bg-white");
	  navaction.classList.remove("bg-white");
	  navaction.classList.add("gradient");
	  navaction.classList.remove("text-gray-800");
	  navaction.classList.add("text-white");
	  //Use to switch toggleColour colours
  	  for (var i = 0; i < toToggle.length; i++) {
	     toToggle[i].classList.add("text-gray-800");
		 toToggle[i].classList.remove("text-white");
	  }
	  header.classList.add("shadow");
	  navcontent.classList.remove("bg-gray-100");
	  navcontent.classList.add("bg-white");
    }
    else {
	  header.classList.remove("bg-white");
	  navaction.classList.remove("gradient");
	  navaction.classList.add("bg-white");
	  navaction.classList.remove("text-white");
	  navaction.classList.add("text-gray-800");
	  //Use to switch toggleColour colours
  	  for (var i = 0; i < toToggle.length; i++) {
	     toToggle[i].classList.add("text-white");
		 toToggle[i].classList.remove("text-gray-800");
	  }
	  
	  header.classList.remove("shadow");
	  navcontent.classList.remove("bg-white");
	  navcontent.classList.add("bg-gray-100");
	  
    }

	});

	
</script>

<script>
	
	
	/*Toggle dropdown list*/
	/*https://gist.github.com/slavapas/593e8e50cf4cc16ac972afcbad4f70c8*/
	
	var navMenuDiv = document.getElementById("nav-content");
	var navMenu = document.getElementById("nav-toggle");
	
	document.onclick = check;
	function check(e){
	  var target = (e && e.target) || (event && event.srcElement);
	  
	  //Nav Menu
	  if (!checkParent(target, navMenuDiv)) {
		// click NOT on the menu
		if (checkParent(target, navMenu)) {
		  // click on the link
		  if (navMenuDiv.classList.contains("hidden")) {
			navMenuDiv.classList.remove("hidden");
		  } else {navMenuDiv.classList.add("hidden");}
		} else {
		  // click both outside link and outside menu, hide menu
		  navMenuDiv.classList.add("hidden");
		}
	  }
	  
	}
	function checkParent(t, elm) {
	  while(t.parentNode) {
		if( t == elm ) {return true;}
		t = t.parentNode;
	  }
	  return false;
	}
</script>


</body>

</html>

