<section class="grid mt-32">
  <div class="box span-7 mb-8">
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor </h1>
  </div>
  <div class="box span-5"></div> 
  <div class="box span-7">
    <div class="tab w-full overflow-hidden">
        <input class="absolute opacity-0" id="tab-one" type="checkbox" name="tabs">
        <label class="block leading-normal cursor-pointer" for="tab-one">
            <p class=" text-2xl label">adipisicing elit</p>
          </label>
        
        <div class="tab-content overflow-hidden leading-normal">
           <p class="pr-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
        </div>
        <span class="indicator" ></span>
      </input>
     </div>
  </div>
  <div class="box span-5"></div>
  
  <div class="box span-5">
      <div class="tab w-full overflow-hidden pt-8">
          <input class="absolute opacity-0" id="tab-two" type="checkbox" name="tabs">
          <label class="block leading-normal cursor-pointer" for="tab-two">
              <p class=" text-2xl label">adipisicing elit</p>
            </label>
          
          <div class="tab-content overflow-hidden leading-normal">
             <p class="pr-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
          </div>
          <span class="indicator" ></span>
        </input>
       </div>
    </div>
 <div class="box span-7 line-container"></div>
 <div class="box span-4"></div>
 <div class="box span-2">
    <div class="rounded-full  flex items-center justify-center" style="background-color: blue; width:129px; height: 129px;margin:auto">Circle</div>
 </div>
 <div class="box span-2"></div>
 <div class="box span-2"></div>
 <div class="box span-2"></div>
  <!-- <div class="box">9</div>
  <div class="box">10</div> -->
 <!--  <div class="box">11</div>
  <div class="box">12</div>
  <div class="box">13</div>
  <div class="box">14</div>
  <div class="box">15</div>
  <div class="box">16</div>
  <div class="box">17</div>
  <div class="box">18</div>
  <div class="box">19</div>
  <div class="box">20</div>
  <div class="box">21</div>
  <div class="box">22</div>
  <div class="box">23</div>
  <div class="box">24</div>
  <div class="box">25</div>
  <div class="box">26</div>
  <div class="box">27</div>
  <div class="box">28</div> -->
</section>

<section class="shadow">
    <div class="shadow-md">
        <div class="tab w-full overflow-hidden border-t">
           <input class="absolute opacity-0 " id="tab-multi-one" type="checkbox" name="tabs">
           <label class="block p-5 leading-normal cursor-pointer" for="tab-multi-one">Label One</label>
           <div class="tab-content overflow-hidden border-l-2 bg-gray-100 border-indigo-500 leading-normal">
              <p class="p-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
           </div>
        </div>
     
        
     </div>
  </div>
    
</section>