<section class="grid mt-32">
  <div class="box span-7 mb-8">
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor </h1>
  </div>
  <div class="box span-5"></div> 
  <div class="box span-7">
    <div class="tab w-full overflow-hidden">
        <input class="absolute opacity-0" id="tab-one" type="checkbox" name="tabs">
        <label class="block leading-normal cursor-pointer" for="tab-one">
            <p class=" text-2xl label">adipisicing elit</p>
          </label>
        
        <div class="tab-content overflow-hidden leading-normal">
           <p class="pr-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
        </div>
        <span class="indicator" ></span>
      </input>
     </div>
  </div>
  <div class="box span-5"></div>
  
  <div class="box span-5">
      <div class="tab w-full overflow-hidden pt-8">
          <input class="absolute opacity-0" id="tab-two" type="checkbox" name="tabs">
          <label class="block leading-normal cursor-pointer" for="tab-two">
              <p class=" text-2xl label">adipisicing elit</p>
            </label>
          
          <div class="tab-content overflow-hidden leading-normal">
             <p class="pr-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
          </div>
          <span class="indicator" ></span>
        </input>
       </div>
   </div>
 <div class="box span-7 line-container"></div>
 <div class="box span-5"></div>
 <div class="box span-7 subgrid">
    <div class="vert-lines"></div>
    <div class="vert-lines"></div>
    <div class="vert-lines"></div>
    <div class="vert-lines"></div>
 </div>
 <div class="box span-5">
   <div class="tab w-full overflow-hidden pt-8">
       <input class="absolute opacity-0" id="tab-two" type="checkbox" name="tabs">
       <label class="block leading-normal cursor-pointer" for="tab-two">
           <p class=" text-2xl label">Lorem</p>
         </label>
       
       <div class="tab-content overflow-hidden leading-normal">
          <p class="pr-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum.</p>
       </div>
       <span class="indicator" ></span>
     </input>
    </div>
</div>
 <div class="box span-7 flex  subgrid">
    <div class="rounded-full  flex items-center justify-center" style="background-color: blue; width:129px; height: 129px;margin:auto">Circle</div>
    <div class="rounded-full  flex items-center justify-center" style="background-color: blue; width:129px; height: 129px;margin:auto">Circle</div>
    <div class="rounded-full  flex items-center justify-center" style="background-color: blue; width:129px; height: 129px;margin:auto">Circle</div>
    <div class="rounded-full  flex items-center justify-center" style="background-color: blue; width:129px; height: 129px;margin:auto">Circle</div>
 </div>
 <div class="box span-5"></div>
 <div class="box span-7 subgrid">
    <div class="vert-lines"></div>
    <div class="vert-lines"></div>
    <div class="vert-lines"></div>
    <div class="vert-lines"></div>
 </div>

 <div class="span-5 box-short">
   <div class="tab w-full overflow-hidden pt-8">
       <input class="absolute opacity-0" id="tab-two" type="checkbox" name="tabs">
       <label class="block leading-normal cursor-pointer" for="tab-two">
           <p class=" text-2xl label">Ipsum</p>
         </label>
       
       <div class="tab-content overflow-hidden leading-normal">
          <p class="pr-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit.</p>
       </div>
       <span class="indicator" ></span>
     </input>
    </div>
</div>
 <div class="span-7 flex box-short subgrid">
    <div class="flex justify-center m-8" ><p class="text-center text-2xl">dolor sit</p></div>
    <div class="flex justify-center m-8" ><p class="text-center text-2xl">ncididum</p></div>
    <div class="flex justify-center m-8" ><p class="text-center text-2xl">dolor</p></div>
    <div class="flex justify-center m-8" ><p class="text-center text-2xl">labor</p></div>
 </div>

 <div class="box span-5"></div>
 <div class="box span-7 subgrid">
    <div class="vert-lines"></div>
    <div class="vert-lines"></div>
    <div class="vert-lines"></div>
    <div class="vert-lines"></div>
 </div>

 <div class="box span-5">
   <div class="tab w-full overflow-hidden pt-8">
       <input class="absolute opacity-0" id="tab-two" type="checkbox" name="tabs">
       <label class="block leading-normal cursor-pointer" for="tab-two">
           <p class=" text-2xl label">Lorem ipsum dolor sit</p>
         </label>
       
       <div class="tab-content overflow-hidden leading-normal">
          <p class="pr-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit.</p>
       </div>
       <span class="indicator" ></span>
     </input>
    </div>
</div>
 <div class="box span-7 flex ">
 graphic here
 </div>
 <div class="box-short span-7">
   <a class="cta" href="#">Take a Deeper Dive</a>
   </div>
 
</section>

