<div  class="relative">
  <section id='section7' class="grid ">
    <div class="span-6">
      <h1>Lorem ipsum dolor sit amet totam rem aperiam.</h1>
      <h2 class="mb-24">adipisicing elit, sed do</h2>
      <p class="quote">&#8220;Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.&#8221;</p>
      <h6 class="mb-24">Firstname Lastname, Position</h6>
      <a class="cta" href="#">Find out more about Lorem Ipusm</a>
    </div>
  </section>

 
  <svg id="triangle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 720.97 884">
    <title>trianglePyramid</title>
    <path id="blueTop" d="M371.84,332.53l52.25,91.89,53.15,91H443.91L424.09,483l-52.25-91.89L318.68,483l-18.92,32.43H265.53l53.15-91Z" transform="translate(1.47 0.47)" style="fill: #67c7ec"/>
    <path id="blackMiddle" d="M453.82,554.15H289L330.39,483l41.45-72.07L412.38,483l41.44,71.17Zm-82-119.82L340.3,488.39l-31.53,54.05H434l-31.53-54.05Z" transform="translate(1.47 0.47)"/>
    <path id="redCenter" d="M371.84,451.45l-47.75,82h94.59Z" transform="translate(1.47 0.47)" style="fill: #c12a19"/>
  </svg>
</div>