<section class="subgrid">
  <div class="box span-3 mb-8">
    <h2 class="mb-2">Nostrud exercitation</h2>
    <h4 class="mb-2 uppercase text-brand-red">incididunt ut</h4>
    <h3 class="mb-2 label">ea commodo</h3>
    <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>

  </div>
  </div>
  <div class="box">
    <div class="rounded-full  flex items-center justify-center" style="background-color: blue; width:129px; height: 129px;margin:auto">Circle</div>
  </div> 

  <div class="box span-3 mb-8">
    <h4 class="mb-2 uppercase text-brand-red">incididunt ut</h4>
    <h3 class="mb-2 label">ea commodo</h3>
    <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>

  </div>
  </div>
  <div class="box">
    <div class="rounded-full  flex items-center justify-center" style="background-color: blue; width:129px; height: 129px;margin:auto">Circle</div>
  </div> 

  <div class="box span-3 mb-8">
    <h4 class="mb-2 uppercase text-brand-red">incididunt ut</h4>
    <h3 class="mb-2 label">ea commodo</h3>
    <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
   
  </div>
  </div>
  <div class="box">
    <div class="rounded-full  flex items-center justify-center" style="background-color: blue; width:129px; height: 129px;margin:auto">Circle</div>
  </div> 
  <div class="">
    <a class="cta inline-block no-underline text-blue-brand border-blue-brand  border-b hover: text-med-dark hover:text-brand-red hover:border-brand-red py-2" href="#">Take a Deeper Dive</a>
    </div>

</section>