<div class="wrapper bg-gray-very-light">
  <section class="grid">
    <div class="span-6">
      <h1>Lorem ipsum dolor sit amet totam rem aperiam.</h1>
      <h2 class="mb-24">adipisicing elit, sed do</h2>
      <p class="quote">&#8220;Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.&#8221;</p>
      <h6 class="mb-24">Firstname Lastname, Position</h6>
      <a class="cta" href="#">Find out more about Lorem Ipusm</a>
    </div>
    <div class="span-6 flex flex items-center justify-center">
      <div>      
        <img src="./assets/img/logo.svg"  class="m-auto" style="width: 240px; height: 240px" alt="">
      </div>    
    </div> 
  </section>
</div>