<section id="section5" class="subgrid">
  <div class="box span-3 mb-6">
      <h2>Nostrud exercitation</h2>
  </div>
  <div class="box span-3 mt-24 pt-8">
    <h4 class="mb-2 uppercase text-brand-red">incididunt ut</h4>
    <h3 class="mb-2 label">ea commodo</h3>
    <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>

  </div>
  </div>
  <div class="box">
    <svg id="circlegrraph" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 334 252.16">
      <defs>
        <clipPath id="clip-path" transform="translate(27.29 0)">
          <circle cx="118.5" cy="118.5" r="118.5" transform="translate(-49.08 118.5) rotate(-45)" style="fill: none"/>
        </clipPath>
      </defs>
      <title>circlegraph</title>
      <circle id="bluebg" cx="118.5" cy="118.5" r="118.5" transform="translate(-21.8 118.5) rotate(-45)" style="fill: #066d9f"/>
      <g style="clip-path: url(#clip-path)">
        <g id="Oval_2_Copy_4-2" data-name="Oval 2 Copy 4-2">
          <g id="circlegraphLines"></g>
            <path class="sect5-lines" id="sampleLine" d="M304.71,121.16v129" transform="translate(27.29 0)" style="fill: none;stroke: #eedd23;stroke-linecap: square;stroke-miterlimit: 9.99999982885729;stroke-width: 3.99999993154292px"/>
            <path class="sect5-lines" data-name="Line 9-2" d="M294.71,121.16v129" transform="translate(27.29 0)" style="fill: none;stroke: #eedd23;stroke-linecap: square;stroke-miterlimit: 9.99999982885729;stroke-width: 3.99999993154292px"/>
            <path class="sect5-lines" data-name="Line 9-3" d="M284.71,121.16v129" transform="translate(27.29 0)" style="fill: none;stroke: #eedd23;stroke-linecap: square;stroke-miterlimit: 9.99999982885729;stroke-width: 3.99999993154292px"/>
            <path class="sect5-lines" data-name="Line 9-4" d="M274.71,121.16v129" transform="translate(27.29 0)" style="fill: none;stroke: #eedd23;stroke-linecap: square;stroke-miterlimit: 9.99999982885729;stroke-width: 3.99999993154292px"/>
            <path class="sect5-lines" data-name="Line 9-5" d="M264.71,121.16v129" transform="translate(27.29 0)" style="fill: none;stroke: #eedd23;stroke-linecap: square;stroke-miterlimit: 9.99999982885729;stroke-width: 3.99999993154292px"/>
            <path class="sect5-lines" data-name="Line 9-6" d="M254.71,121.16v129" transform="translate(27.29 0)" style="fill: none;stroke: #eedd23;stroke-linecap: square;stroke-miterlimit: 9.99999982885729;stroke-width: 3.99999993154292px"/>
            <path class="sect5-lines" data-name="Line 9-7" d="M244.71,121.16v129" transform="translate(27.29 0)" style="fill: none;stroke: #eedd23;stroke-linecap: square;stroke-miterlimit: 9.99999982885729;stroke-width: 3.99999993154292px"/>
            <path class="sect5-lines" data-name="Line 9-8" d="M234.71,121.16v129" transform="translate(27.29 0)" style="fill: none;stroke: #eedd23;stroke-linecap: square;stroke-miterlimit: 9.99999982885729;stroke-width: 3.99999993154292px"/>
            <path class="sect5-lines" data-name="Line 9-9" d="M224.71,121.16v129" transform="translate(27.29 0)" style="fill: none;stroke: #eedd23;stroke-linecap: square;stroke-miterlimit: 9.99999982885729;stroke-width: 3.99999993154292px"/>
            <path class="sect5-lines"  data-name="Line 9-10" d="M214.71,121.16v129" transform="translate(27.29 0)" style="fill: none;stroke: #eedd23;stroke-linecap: square;stroke-miterlimit: 9.99999982885729;stroke-width: 3.99999993154292px"/>
            <path class="sect5-lines"  data-name="Line 9-11" d="M204.71,121.16v129" transform="translate(27.29 0)" style="fill: none;stroke: #eedd23;stroke-linecap: square;stroke-miterlimit: 9.99999982885729;stroke-width: 3.99999993154292px"/>
            <path class="sect5-lines"  data-name="Line 9-12" d="M194.71,121.16v129" transform="translate(27.29 0)" style="fill: none;stroke: #eedd23;stroke-linecap: square;stroke-miterlimit: 9.99999982885729;stroke-width: 3.99999993154292px"/>
            <path class="sect5-lines"  data-name="Line 9-13" d="M184.71,121.16v129" transform="translate(27.29 0)" style="fill: none;stroke: #eedd23;stroke-linecap: square;stroke-miterlimit: 9.99999982885729;stroke-width: 3.99999993154292px"/>
            <path class="sect5-lines"  data-name="Line 9-14" d="M174.71,121.16v129" transform="translate(27.29 0)" style="fill: none;stroke: #eedd23;stroke-linecap: square;stroke-miterlimit: 9.99999982885729;stroke-width: 3.99999993154292px"/>
            <path class="sect5-lines"  data-name="Line 9-15" d="M164.71,121.16v129" transform="translate(27.29 0)" style="fill: none;stroke: #eedd23;stroke-linecap: square;stroke-miterlimit: 9.99999982885729;stroke-width: 3.99999993154292px"/>
            <path class="sect5-lines"  data-name="Line 9-16" d="M154.71,121.16v129" transform="translate(27.29 0)" style="fill: none;stroke: #eedd23;stroke-linecap: square;stroke-miterlimit: 9.99999982885729;stroke-width: 3.99999993154292px"/>
            <path class="sect5-lines"  data-name="Line 9-17" d="M144.71,121.16v129" transform="translate(27.29 0)" style="fill: none;stroke: #eedd23;stroke-linecap: square;stroke-miterlimit: 9.99999982885729;stroke-width: 3.99999993154292px"/>
            <path class="sect5-lines"  data-name="Line 9-18" d="M134.71,121.16v129" transform="translate(27.29 0)" style="fill: none;stroke: #eedd23;stroke-linecap: square;stroke-miterlimit: 9.99999982885729;stroke-width: 3.99999993154292px"/>
            <path class="sect5-lines"  data-name="Line 9-19" d="M124.71,121.16v129" transform="translate(27.29 0)" style="fill: none;stroke: #eedd23;stroke-linecap: square;stroke-miterlimit: 9.99999982885729;stroke-width: 3.99999993154292px"/>
            <path class="sect5-lines"  data-name="Line 9-20" d="M114.71,121.16v129" transform="translate(27.29 0)" style="fill: none;stroke: #eedd23;stroke-linecap: square;stroke-miterlimit: 9.99999982885729;stroke-width: 3.99999993154292px"/>
            <path class="sect5-lines"  data-name="Line 9-21" d="M104.71,121.16v129" transform="translate(27.29 0)" style="fill: none;stroke: #eedd23;stroke-linecap: square;stroke-miterlimit: 9.99999982885729;stroke-width: 3.99999993154292px"/>
            <path class="sect5-lines"  data-name="Line 9-22" d="M94.71,121.16v129" transform="translate(27.29 0)" style="fill: none;stroke: #eedd23;stroke-linecap: square;stroke-miterlimit: 9.99999982885729;stroke-width: 3.99999993154292px"/>
            <path class="sect5-lines"  data-name="Line 9-23" d="M84.71,121.16v129" transform="translate(27.29 0)" style="fill: none;stroke: #eedd23;stroke-linecap: square;stroke-miterlimit: 9.99999982885729;stroke-width: 3.99999993154292px"/>
            <path class="sect5-lines"  data-name="Line 9-24" d="M74.71,121.16v129" transform="translate(27.29 0)" style="fill: none;stroke: #eedd23;stroke-linecap: square;stroke-miterlimit: 9.99999982885729;stroke-width: 3.99999993154292px"/>
            <path class="sect5-lines"  data-name="Line 9-25" d="M64.71,121.16v129" transform="translate(27.29 0)" style="fill: none;stroke: #eedd23;stroke-linecap: square;stroke-miterlimit: 9.99999982885729;stroke-width: 3.99999993154292px"/>
            <path class="sect5-lines"  data-name="Line 9-26" d="M54.71,121.16v129" transform="translate(27.29 0)" style="fill: none;stroke: #eedd23;stroke-linecap: square;stroke-miterlimit: 9.99999982885729;stroke-width: 3.99999993154292px"/>
            <path class="sect5-lines"  data-name="Line 9-27" d="M44.71,121.16v129" transform="translate(27.29 0)" style="fill: none;stroke: #eedd23;stroke-linecap: square;stroke-miterlimit: 9.99999982885729;stroke-width: 3.99999993154292px"/>
            <path class="sect5-lines"  data-name="Line 9-28" d="M34.71,121.16v129" transform="translate(27.29 0)" style="fill: none;stroke: #eedd23;stroke-linecap: square;stroke-miterlimit: 9.99999982885729;stroke-width: 3.99999993154292px"/>
            <path class="sect5-lines"  data-name="Line 9-29" d="M24.71,121.16v129" transform="translate(27.29 0)" style="fill: none;stroke: #eedd23;stroke-linecap: square;stroke-miterlimit: 9.99999982885729;stroke-width: 3.99999993154292px"/>
            <path class="sect5-lines"  data-name="Line 9-30" d="M14.71,121.16v129" transform="translate(27.29 0)" style="fill: none;stroke: #eedd23;stroke-linecap: square;stroke-miterlimit: 9.99999982885729;stroke-width: 3.99999993154292px"/>
            <path class="sect5-lines"  data-name="Line 9-31" d="M4.71,121.16v129" transform="translate(27.29 0)" style="fill: none;stroke: #eedd23;stroke-linecap: square;stroke-miterlimit: 9.99999982885729;stroke-width: 3.99999993154292px"/>
            <path class="sect5-lines"  data-name="Line 9-32" d="M-5.29,121.16v129" transform="translate(27.29 0)" style="fill: none;stroke: #eedd23;stroke-linecap: square;stroke-miterlimit: 9.99999982885729;stroke-width: 3.99999993154292px"/>
            <path class="sect5-lines"  data-name="Line 9-33" d="M-15.29,121.16v129" transform="translate(27.29 0)" style="fill: none;stroke: #eedd23;stroke-linecap: square;stroke-miterlimit: 9.99999982885729;stroke-width: 3.99999993154292px"/>
            <path class="sect5-lines"  data-name="Line 9-34" d="M-25.29,121.16v129" transform="translate(27.29 0)" style="fill: none;stroke: #eedd23;stroke-linecap: square;stroke-miterlimit: 9.99999982885729;stroke-width: 3.99999993154292px"/>
          </g>
        </g>
      </g>
    </svg>
  </div> 

  <div class="box span-3 pt-12">
    <h4 class="mb-2 uppercase text-brand-red">incididunt ut</h4>
    <h3 class="mb-2 label">ea commodo</h3>
    <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
  </div>

  <div class="box mb-24">
      <img src="assets/img/tripleCircle.svg" alt="triple circle">
  </div> 

  <div class="box span-3 pt-12">
    <h4 class="mb-2 uppercase text-brand-red">incididunt ut</h4>
    <h3 class="mb-2 label">ea commodo</h3>
    <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
  </div>

  <div class="box mb-24">
    <img src="assets/img/doubleCircle.svg" alt="double circle">
  </div> 

  <div class="">
    <a class="cta inline-block no-underline text-blue-brand border-blue-brand  border-b hover: text-med-dark hover:text-brand-red hover:border-brand-red py-2" href="#">Take a Deeper Dive</a>
  </div>

</section>